<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2.1_myfirst.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2.2_carrots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2.3_getinfo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>2.4_sqrt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>2.5_ourfunc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>2.6_convert.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Practise.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECA15779219023EE007180E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECA1578F2190270A007180E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECA1579D2190282B007180E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCC0119218FE10900B52369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCC0127218FE1F700B52369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCC0132218FE66400B52369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCC013D218FF35700B52369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
